# https://blog.gitbutler.com/how-git-core-devs-configure-git/

[column]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = delta
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	root = rev-parse --show-toplevel
[user]
	name = Dragon Huang
	email = j0918023423@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINm8BC7ZtWI34jwt7ik9ftc9tgc1QN3660Yf9jgNeqV8
[commit]
	gpgsign = true
	verbose = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.config/git/allowed-signers
[url "git@github.com:"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
[maintenance]
	repo = /Users/dragon/projects/SRE-Program-Batch1
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[diff]
	algorithm = histogram
	submodule = log
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[diff "exif"]
	textconv = exiftool
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	line-numbers = true

	# delta detects terminal colors automatically; set one of these to disable auto-detection
	# dark = true
	# light = true
[merge]
	conflictstyle = zdiff3

[includeIf "gitdir:~/subscript/"]
  path = ~/.subscript.gitconfig
[rerere]
	enabled = true
	autoupdate = true
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt