[core]
	excludesfile = /Users/dragon/.gitignore_global
	editor = vim
	pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	root = rev-parse --show-toplevel
[user]
	name = Dragon Huang
	email = j0918023423@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINm8BC7ZtWI34jwt7ik9ftc9tgc1QN3660Yf9jgNeqV8
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.config/git/allowed-signers
[url "git@github.com:"]
	insteadOf = https://github.com
[init]
	templateDir = /Users/dragon/.git-template
[maintenance]
	repo = /Users/dragon/projects/SRE-Program-Batch1
[push]
	autoSetupRemote = true
[diff "exif"]
	textconv = exiftool
[rebase]
	updateRefs = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	line-numbers = true

	# delta detects terminal colors automatically; set one of these to disable auto-detection
	# dark = true
	# light = true
[merge]
	conflictstyle = zdiff3

[includeIf "gitdir:~/subscript/"]
  path = ~/.subscript.gitconfig
